.questionaire {
    &__container {
        padding: 10px;

        .ant-card {
            margin: auto;
        }
    }

    &__buttons {
        margin-top: 20px;

        .ant-btn {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
